.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
  background: linear-gradient(to right, rgba(2, 2, 2, 0.15), rgb(233, 221, 221));

  .card {
    display: flex;
    justify-content: space-between;
    //border: 1px solid rgb(1, 34, 30);
    background: rgb(1, 34, 30);
    color: whitesmoke;
    border-radius: 10px;
    padding: 75px 50px;
    margin-left: 30px;
    text-align: center;
    cursor: pointer;
    @include transition-ease;

    &:hover {
      background: $primaryColor;
      color: whitesmoke;
    }

    .cardContent {
      position: relative;


      .cardIcon {
        position: absolute;
        top: -50px;
        right: 50px
      }

      .arrowRight {
        position: absolute;
        bottom: -50px;
        right: 50px;
        
      }

      h2 {
        padding: 20px 0;
        font-size: 25px;
      }

      p {
        font-size: 12px;
      }
    }

    
  }
}