/* PARTIAL FILE FOR REUSABLE CODE */
/* COMPONENTS' PARTIAL FILES */
.home {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, rgba(2, 2, 2, 0.15), rgb(233, 221, 221));
}
.home .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home .header .menuList ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home .header .menuList ul li {
  list-style: none;
  margin: 20px 40px 0px 10px;
}
.home .header .menuList ul li a {
  text-decoration: none;
  color: rgb(31, 155, 107);
}
.home .header .menuList ul li a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background: rgb(31, 155, 107);
  margin: auto;
  transition: all 0.5s ease-in-out;
}
.home .header .menuList ul li a:hover::after {
  width: 100%;
}
.home .content .homeTitle {
  position: relative;
  font-size: 40px;
  transform: translateY(25vh);
  text-align: center;
  font-weight: 100;
}
.home .content .homeTitle span {
  font-weight: 900;
}
.home .content p {
  font-size: 15px;
  transform: translateY(25vh);
  text-align: center;
  font-weight: 100;
}
.home .content .btn {
  position: absolute;
  text-decoration: none;
  font-size: 12px;
  transform: translate(45vw, 30vh);
  background: whitesmoke;
  color: rgb(36, 185, 128);
  text-align: center;
  border: 1px solid rgb(36, 185, 128);
  padding: 15px 30px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.home .content .btn:hover {
  background: rgb(36, 185, 128);
  color: whitesmoke;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
  background: linear-gradient(to right, rgba(2, 2, 2, 0.15), rgb(233, 221, 221));
}
.cards .card {
  display: flex;
  justify-content: space-between;
  background: rgb(1, 34, 30);
  color: whitesmoke;
  border-radius: 10px;
  padding: 75px 50px;
  margin-left: 30px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.cards .card:hover {
  background: rgb(31, 155, 107);
  color: whitesmoke;
  transform: scale(1.05);
}
.cards .card .cardContent {
  position: relative;
}
.cards .card .cardContent .cardIcon {
  position: absolute;
  top: -50px;
  right: 50px;
}
.cards .card .cardContent .arrowRight {
  position: absolute;
  bottom: -50px;
  right: 45%;
  font-size: 20px;
}
.cards .card .cardContent h2 {
  padding: 20px 0;
  font-size: 25px;
}
.cards .card .cardContent p {
  font-size: 12px;
}

.messageSection {
  position: relative;
  width: 100%;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(1, 34, 30);
}
.messageSection::before {
  content: "";
  position: absolute;
  height: 400px;
  left: 0px;
  border: 10px solid rgb(31, 155, 107);
}
.messageSection::after {
  content: "";
  position: absolute;
  height: 400px;
  right: 0px;
  border: 10px solid rgb(31, 155, 107);
}
.messageSection .Message {
  font-size: 33px;
  color: whitesmoke;
}
.messageSection .MessageParagraph {
  font-size: 12px;
  color: whitesmoke;
  padding: 40px 0;
  text-align: center;
  line-height: 2;
}
.messageSection .btn {
  text-decoration: none;
  font-size: 12px;
  background: whitesmoke;
  color: rgb(36, 185, 128);
  text-align: center;
  border: 1px solid rgb(36, 185, 128);
  padding: 15px 40px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.messageSection .btn:hover {
  background: rgb(36, 185, 128);
  color: whitesmoke;
}

.btn {
  text-decoration: none;
  font-size: 12px;
  background: whitesmoke;
  color: rgb(36, 185, 128);
  text-align: center;
  border: 1px solid rgb(36, 185, 128);
  padding: 15px 40px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.btn:hover {
  background: rgb(36, 185, 128);
  color: whitesmoke;
}

.benefitsSection {
  height: 100vh;
  background: whitesmoke;
}
.benefitsSection .benefitsTitle {
  font-size: 40px;
  text-align: center;
  color: rgb(31, 155, 107);
  padding: 30px 0;
}
.benefitsSection .benefitsCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.benefitsSection .benefitsCards .benefitscard {
  background: whitesmoke;
  border-radius: 10px;
  padding: 30px 30px;
}
.benefitsSection .benefitsCards .benefitscard h2 {
  text-align: center;
  color: #000;
  padding: 10px 0;
}
.benefitsSection .benefitsCards .benefitscard h3 {
  font-size: 17px;
  text-align: center;
  color: #000;
}
.benefitsSection .benefitsCards .benefitscard p {
  font-size: 12px;
  margin: 10px 0;
  line-height: 2;
  text-align: center;
  padding: 0px 40px;
  color: #000;
}
.benefitsSection .benefitsCards .benefitscard1 {
  background: rgb(1, 34, 30);
  border-radius: 10px;
  padding: 30px 30px;
}
.benefitsSection .benefitsCards .benefitscard1 h2 {
  text-align: center;
  color: whitesmoke;
  padding: 10px 0;
}
.benefitsSection .benefitsCards .benefitscard1 h3 {
  font-size: 17px;
  text-align: center;
  color: whitesmoke;
}
.benefitsSection .benefitsCards .benefitscard1 p {
  font-size: 12px;
  margin: 10px 0;
  line-height: 2;
  text-align: center;
  padding: 0px 40px;
  color: whitesmoke;
}

.coachingSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.coachingSection .coachingTitle {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  padding-top: 200px;
}
.coachingSection p {
  font-size: 15px;
  text-align: center;
  font-weight: 100;
  line-height: 2;
}
.coachingSection .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.coachingSection .buttons .btn {
  text-decoration: none;
  font-size: 12px;
  background: whitesmoke;
  color: rgb(36, 185, 128);
  text-align: center;
  border: 1px solid rgb(36, 185, 128);
  padding: 15px 30px;
  margin-left: 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.coachingSection .buttons .btn:hover {
  background: rgb(36, 185, 128);
  color: whitesmoke;
}

.coursesSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 75vh;
}
.coursesSection .leftSide {
  flex-basis: 33.33%;
  text-align: left;
  padding: 0px 50px;
}
.coursesSection .leftSide h3 {
  font-size: 22.5px;
  font-weight: bold;
  color: rgb(31, 155, 107);
  padding: 10px 0;
}
.coursesSection .leftSide h4 {
  font-weight: normal;
  font-size: 15pt;
  padding: 15px 0;
}
.coursesSection .leftSide p {
  padding: 30px 0 30px 0;
  font-size: 12pt;
}
.coursesSection .leftSide a {
  margin-left: 12.5%;
}
.coursesSection .middleSide {
  display: flex;
  flex-basis: 33.33%;
}
.coursesSection .middleSide img {
  display: flex;
  justify-content: center;
}
.coursesSection .rightSide {
  flex-basis: 33.33%;
}
.coursesSection .rightSide .rightTop {
  text-align: center;
}
.coursesSection .rightSide .rightTop h1 {
  color: rgb(31, 155, 107);
  padding-top: 10px;
}
.coursesSection .rightSide .rightTop h3 {
  padding-top: 10px;
}
.coursesSection .rightSide .rightTop p {
  padding: 20px 0px;
  line-height: 1.5;
}
.coursesSection .rightSide .rightBottom {
  text-align: center;
}
.coursesSection .rightSide .rightBottom h1 {
  color: rgb(31, 155, 107);
  padding-top: 10px;
}
.coursesSection .rightSide .rightBottom h3 {
  padding-top: 10px;
}
.coursesSection .rightSide .rightBottom p {
  padding: 20px 0px;
  line-height: 1.5;
}

.whereSection .whereHeading .whereTitle {
  font-size: 30pt;
  color: rgb(31, 155, 107);
  padding: 50px 0 0 30px;
}
.whereSection .whereHeading p {
  color: #000;
  font-size: 10pt;
  padding-left: 30px;
  line-height: 1.5;
}
.whereSection .whereBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.whereSection .whereBottom .exp {
  padding-left: 30px;
}
.whereSection .whereBottom .exp h3 {
  font-weight: lighter;
  font-size: 20pt;
}
.whereSection .whereBottom .exp p {
  color: #000;
  font-size: 10pt;
  padding-top: 20px;
}
.whereSection .whereBottom .figures {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 50pt;
  padding: 0 20% 40pt 0;
}
.whereSection .whereBottom .figures h1 {
  font-size: 30pt;
  color: rgb(31, 155, 107);
  padding-left: 30px;
}

.meetSection {
  margin-bottom: 20pt;
}
.meetSection .title {
  font-size: 11pt;
  text-align: center;
}
.meetSection .title span {
  color: rgb(31, 155, 107);
}
.meetSection .professionals {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40pt;
  padding: 20pt 50pt;
}
.meetSection .professionals .professional {
  text-align: center;
}
.meetSection .professionals .professional h4 {
  padding-top: 10pt;
}
.meetSection .professionals .professional h5 {
  padding: 10pt 0 20pt 0;
}
.meetSection .professionals .professional p {
  line-height: 1.5;
}
.meetSection .professionals .socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10pt 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  animation-name: myanimation;
  animation-fill-mode: both;
  animation-duration: 0.5s;
}/*# sourceMappingURL=App.css.map */