/* PARTIAL FILE FOR REUSABLE CODE */
@import './config';

/* COMPONENTS' PARTIAL FILES */
@import '../components/Home/home';
@import '../components/Cards/cards';
@import '../components/Message/Message';
@import '../components/Benefits/benefits';
@import '../components/Coaching/Coaching';
@import '../components/Courses/Courses';
@import '../components/Where/where';
@import '../components/Meet/meet';
@import '../components/Footer/footer';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  
}

body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  animation-name: myanimation;
  animation-fill-mode: both;
  animation-duration: 0.5s;  
}

::-webkit-scrollbar {
  background: #fff;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: $primaryColor;
  border-radius: 10px;

  &:active {
    background: $secondaryColor;
  }
}

